{% extends 'thawbase.html' %}
{% block title %}{{ title }}{%endblock %}

{% block content %}

<div class="container">
    <h1>Check Transaction Code</h1>
<br/><br/>

{% if error_statement %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ error_statement }}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  {% endif %}

<br/><br/>

<form action="/form" method="POST" action="/create" enctype="mulipart/form-data">
    <div class="form-group">
      <input type="text" placeholder="Transaction Code" name='code' value="{{ code }}">      
        </div>
        <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>





    </div>

</html>

{% endblock %}